* {
    padding: 0;
    margin: 0;
}
.container {
    width: 100vw;
    height: auto;
    max-width: 1000px;
    margin: auto;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px; 
    background-color: #0c1f14;
    color: white;
}

.container h1 {
    margin: 20px;
}

.question__container {
    max-width: 500px;
    background-color: #e6fff0;
    color: black;
    border-radius: 10px;
    margin: 1px;
    padding: 2px;
}

.question__container--grid {
    display: grid;
    grid-template-columns: 50% 2fr;
    gap: 3px;
}

.answer__container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 2fr;
    gap: 2px;
}

.answer__container--answer {
    background-color: #cee2d7;
    padding: 5px;
    border-radius: 10px;
}

.answer__container--answer:hover {
    opacity: .4;
}

.add__question {
    display: flex;
}

.add__question--inputs {
    width: 48%;
    border-radius: 7px;
    margin: 2px;
}

.add__question--button {
    border-radius: 10px;
    padding: 2px;
    margin: 3px;
    background-color: #cee2d7;
    color: black;
}
.add__question--button:hover{
    opacity: .7;
} 